.page {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  max-height: calc(100vh - 50px);
}

.side-nav-container {
  height: inherit;
  max-height: inherit;
  overflow-y: auto;
  background-color: #fff;
}

.ant-tree-treenode,
.ant-tree-node-content-wrapper,
.ant-tree-title {
  width: 100%;
}

.file-path-title {
  margin-bottom: 0px !important;
}

.toolbar-menu-item-only-child {
  padding-inline: 12px !important;
}
